@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using entity.Models
@using services.Abstract
@inject IDatabaseService _ids

@model List<Basket>
@ViewBag.Product

@*@List<string> list = Context.Request.Cookies["YourList"]*@




<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Ana Sayfa</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Sepet</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Cart Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Ürün</th>
                        <th>Fiyatı</th>
                        <th>Adet</th>
                        @*<th>Toplam Fiyat</th>*@
                        <th>Sil</th>
                    </tr>
                </thead>
                <tbody class="align-middle">

                    @foreach (var CookieValues in Model)
                    {
                        <tr>
                            <td class="align-middle"><img src="/theme/img/product-1.jpg" alt="" style="width: 50px;"> @CookieValues.Product.ProductName </td>

                            <td class="align-middle" value="@CookieValues.Product.ProductPrice"> @CookieValues.Product.ProductPrice ₺ </td>

                            <td class="align-middle">
                                <div class="input-group quantity mx-auto" style="width: 100px;">

                                    <div class="input-group-btn">

                                        <button class="btn btn-sm btn-primary btn-minus">
                                            <i class="fa fa-minus"></i>
                                        </button>

                                    </div>

                                    <input type="text" readonly class="form-control form-control-sm bg-secondary border-0 text-center" id="QuantityValue" value="1">
                                    <li type="hidden" value="@CookieValues.Product.ProductPrice"></li>

                                    <div class="input-group-btn">

                                        <button class="btn btn-sm btn-primary btn-plus">
                                            <i class="fa fa-plus"></i>
                                        </button>

                                    </div>
                                </div>
                            </td>

                            @* @{
                        var TotalPrice = CookieValues.ProductQuantity * CookieValues.Product.ProductPrice;
                        }
                        <td class="align-middle" id="TotalPrice" value="@TotalPrice"> ₺ </td>*@
                            <td class="align-middle"><button class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button></td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            <form class="mb-30" action="">
                <div class="input-group">
                    <input type="text" class="form-control border-0 p-4" placeholder="Kupon Kodu">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Kuponu Uygula</button>
                    </div>
                </div>
            </form>
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Sepet Özeti</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Ara Toplam</h6>
                        <h6>$150</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Gönderi Ücreti</h6>
                        <h6 class="font-weight-medium" id="ShippingPrice" value="10">$10</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Toplam</h5>
                        @{
                            var price = 0;
                        }
                        @foreach(var Price in Model)
                        {
                            var TotalPrice = Price.Product.ProductPrice + price;
                            price = TotalPrice;
                        }
                        <h5 id="TotalPrice" value="@price">@price</h5>
                        <input type="hidden" id="TotalPrices" value="@price"></input>
                    </div>
                    <button class="btn btn-block btn-primary font-weight-bold my-3 py-3">Ödemeye Git</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cart End -->
